@font-face {
    font-family: 'Chubby';
    src: url('./fonts/Chubby\ Relief.ttf');
}

body {
    background: rgb(6,218,255);
background: radial-gradient(circle, rgba(6,218,255,1) 0%, rgba(255,246,0,1) 66%, rgba(255,173,0,1) 100%);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

body, input, button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

header {
    margin: 0 auto;
    text-align: center;
    border: 3px dotted white;
    width: 40%;
    background-color: rgb(6,218,255);
    border-radius: 10px;
}

h1 {
    color: rgba(255,173,0,1);
    padding: 15px;
    font-family: 'Chubby';
    font-size: 60px;
    text-shadow: -3px 3px white, 5px -5px 10px blue;
}

#input {
    margin: 10px;
    text-align: center;
}

#taskIn {
    width: 27%
}

table, thead, tbody {
    text-align: center;
    margin: 0 auto;
    width: 33%;
    background-color:darkorange;
    border: 2px solid black;
}

tr, th, td {
    border: 2px solid black;
}

th, td {
    padding: 5px;
}

tr {
    width: 33%;
}

.completed {
    background-color: greenyellow;
}